extends layout

block content
 div.pas1
   img(src="../images/contact.png", alt="contact", width='100%') 
 div.flex3
   div 
     h1.titre4
       img(src="../images/R.png", alt="logo", width='40%') 
       br
       a.co1 Sweet
       a.co2 i
       a.co1 t
       a.co3 y
   div 
     h1.titre3 
     a.co2 C
     a.co1 o
     a.co3 n
     a.co1 tacter nous 
     form
      div.dim Votre Nom
      input.form(placeholder='Name' type='text' name='name' ) 
      div.dim Votre Numero de tel 
      input.form(placeholder='Phone' type='text' name='phone')
      div.dim Votre Mail
      input.form(placeholder='Email' type='text' name='email')
      div.dim Votre Message
      textarea.form(placeholder='Message' type='text' name='message')
      br      
      button.button(type='submit' ) Envoyer 
 
 footer.footer1 
  hr
  h2 sweetity 
  h2 amalrekik53@gmail.com

