doctype html
html
  head
    title= sweetity 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div 
     h1.titre5
       img(src="../images/R.png", alt="logo", width='15%') 
       br
       a.co1 Sweet
       a.co2 i
       a.co1 t
       a.co3 y
   h1.oops oOps!! 
   h2.temp Il est #{date} à #{heure}:#{min}
   p.descrip1  Le site n'est pas disponible pour le moment, veillez nous visiter de lundi à dimanche, de 9h à 17h 