
extends layout

block content
 div.arrier
   div.descrip
     img(src="../images/R.png", alt="logo", width='10%')
   h1.descrip
    
    a.col1 Swet
    a.col2 i
    a.col1 t
    a.col3 y
   p.descrip les ingrédients sont purement naturelles , et absance complaite de toutes sortes d'addétives industruelles.
     Mais aussi, tous nos produits sont "home made" avec une hégiène trés sévère. Les articles healthy sont , strictement, indisponsables dans notre boutique.
     

