extends layout

block content
 div.pas
  img(src="../images/gateau.jpg", alt="annif", width='100%')
  h1.titre1 
   a.co2 N
   a.co1 o
   a.co3 t
   a.co1 re pâtisseurie
  h4.titre2 about us 
  h1.titre3
   img(src="../images/R.png", alt="logo", width='5%') 
   br
   a.co2 A
   a.co1 b
   a.co3 o
   a.co1 ut Us
  p.descrip1  les ingrédients sont purement naturelles , et absance complaite de toutes sortes d'addétives industruelles.
     Mais aussi, tous nos produits sont "home made" avec une hégiène trés sévère. Les articles healthy sont , strictement, indisponsables dans notre boutique.
  h4.titre2 about us    
 h1.titre3 
  a.co2 N
  a.co1 o
  a.co3 t
  a.co1 re Boutique 
  p.descrip1 Dans notre boutique, vous pouvez trouver une diversité de choix
 div.flex1 
   div 
     img(src="../images/datefarce.jpg", alt="date", width='100%') 
     figcaption.caption
       a.co2 N
       a o
       a.co3 s 
       a Healthy 
       br
       a.caption1 ils sont basés sur des ingrédients healthy telque les dattes, les fruits sec, des granulas, du bssissa parfois, avec le min du sucre,etc...
   div 
     img(src="../images/sheesecake.jpg", alt="sheese", width='100%')
     figcaption.caption 
       a.co2 N
       a o
       a.co3 s 
       a Gourmands
       br
       a.caption1 ils sont basés sur des généreuses quantités de chocolat, de fruit sec, de fruit de sésant, de divers styles de crèmes ,etc...
   div 
     img(src="../images/ANNIf.jpg", alt="anni", width='100%') 
     figcaption.caption 
       a.co2 N
       a o
       a.co3 s 
       a Gâteaux 
       br
       a.caption1 la composition des génoises sont aux choix, mais généralement notre produit est basé sur une génoise vanille ou chocolat et génoise fruit sec, avec une créme chocolat ou noisette
 hr
 footer.footer 
  h2 sweetity 
  h2 amalrekik53@gmail.com